:root {
  --soft-coral: 255, 111, 97;
  --pale-peach: 255, 229, 217;
  --soft-mint: 179, 229, 204;
  --cool-grey: 245, 245, 245;
  --warm-yellow: 255, 209, 102;
  --charcoal-grey: 51, 51, 51;
  --fine-yellow: 255, 193, 7;
  --fiddlers-green: 139, 195, 74;
  --fiery-future: 229, 115, 115;
  --desperate-pit: 0, 0, 0;
  --blinding-snow: 255, 255, 255;
}
